<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="default"/>
    <add key="AWSRegion" value="us-east-2"/>
    <add key="AWSProfilesLocation" value="C:\Program Files\Tektegrity\TekBackup_v1\credentials"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
